.div-form {
    border: 1px solid rgb(70, 70, 70);
    padding: 3%;
    margin: 3%;
    border-radius: 2%;
}

.my-textarea {
    height: 8rem;
}

.msolocard {
    margin: 3%;
    width: 50%;
}

.add-btn {
    margin: 1%;
}